<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OilPaintPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Photix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhotixFilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1054CE419A434D800A4D8F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A9F3F31A1D9B8400513812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A9F3FD1A1D9B8400513812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1DBBCDC18A6BFEF007BF4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1DBBCFC18A6BFEF007BF4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
